.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay {
    background: #494949;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
    text-align: center;
    width: 50%;
    max-width: 250px;
    border-radius: 10px;
    height: 30vh;
    background-color: #fff;
    padding: 10px;
}